.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.page-container #theme-toggle-text * {
  fill: var(--text-color);
}
.page-container .theme-switcher {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.5rem;
}
.page-container .form-container {
  position: relative;
  border-radius: var(--border-radius-base);
  padding: 6.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--surface);
  box-shadow: var(--shadow-6);
  max-height: 100vh;
  overflow-y: auto;
}
.page-container .form-container .aip-chat-logo {
  width: 155px;
  height: 40px;
  margin-bottom: 2.5rem;
}
.page-container .form-container h1 {
  margin-bottom: 2rem;
}
@media (max-width: 1368px) {
  .page-container .form-container {
    padding: 2rem;
  }
  .page-container .form-container .aip-chat-logo {
    width: 100px;
    height: 30px;
    margin-bottom: 1rem;
  }
  .page-container .form-container h1 {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 768px) {
  .page-container .form-container {
    text-align: center;
    width: 100vw;
    max-width: 600px;
    height: 100vh;
    padding: 0rem;
    border-radius: 0;
  }
}
.page-container .form-error {
  padding: 15px 0;
  color: var(--error);
  font-weight: 700;
}
.page-container .tyc {
  text-align: center;
  margin: 0;
  font-weight: 400;
  width: 80%;
  margin: 0 auto;
}
.page-container form {
  display: flex;
  flex-direction: column;
  align-items: normal;
  gap: 1rem;
  background: var(--bg-element);
  min-width: 65%;
}
@media (max-width: 768px) {
  .page-container form {
    padding: 1rem;
  }
}
.page-container form input {
  background-color: var(--background);
  color: var(--on-primary-container);
}
.page-container form input:focus {
  border-color: var(--primary);
}
.page-container form .form-actions {
  display: flex;
  justify-content: center;
  gap: 3rem;
  cursor: pointer;
}
.page-container form .form-actions button {
  border-radius: var(--border-radius-lg);
  min-width: 100px;
}
@media (max-width: 768px) {
  .page-container form .form-actions {
    margin-top: 1rem;
    flex-direction: column;
    gap: 1rem;
  }
}
.page-container form .social-login {
  position: relative;
  margin: 1rem auto 0;
  width: 100%;
  text-align: center;
}
.page-container form .social-login::before, .page-container form .social-login::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 1px;
  width: calc(50% - 150px);
  background-color: var(--color-gray-30);
}
.page-container form .social-login::before {
  left: 0;
}
.page-container form .social-login::after {
  right: 0;
}
/*!
  Theme: Gruvbox dark, hard
  Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/
.hljs {
  color: #d5c4a1;
  background: #1d2021;
}

.hljs ::selection,
.hljs::selection {
  background-color: #504945;
  color: #d5c4a1;
}

.hljs-comment {
  color: #665c54;
}

.hljs-tag {
  color: #bdae93;
}

.hljs-operator,
.hljs-punctuation,
.hljs-subst {
  color: #d5c4a1;
}

.hljs-operator {
  opacity: 0.7;
}

.hljs-bullet,
.hljs-deletion,
.hljs-name,
.hljs-selector-tag,
.hljs-template-variable,
.hljs-variable {
  color: #fb4934;
}

.hljs-attr,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-symbol,
.hljs-variable.constant_ {
  color: #fe8019;
}

.hljs-class .hljs-title,
.hljs-title,
.hljs-title.class_ {
  color: #fabd2f;
}

.hljs-strong {
  font-weight: 700;
  color: #fabd2f;
}

.hljs-addition,
.hljs-code,
.hljs-string,
.hljs-title.class_.inherited__ {
  color: #b8bb26;
}

.hljs-built_in,
.hljs-doctag,
.hljs-keyword.hljs-atrule,
.hljs-quote,
.hljs-regexp {
  color: #8ec07c;
}

.hljs-attribute,
.hljs-function .hljs-title,
.hljs-section,
.hljs-title.function_,
.ruby .hljs-property {
  color: #83a598;
}

.diff .hljs-meta,
.hljs-keyword,
.hljs-template-tag,
.hljs-type {
  color: #d3869b;
}

.hljs-emphasis {
  color: #d3869b;
  font-style: italic;
}

.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
  color: #d65d0e;
}

.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
  font-weight: 700;
}

pre {
  padding: 0.5rem;
  white-space: break-spaces;
  max-width: 100%;
  background-color: var(--background);
  border-radius: var(--border-radius-base);
}

pre code.hljs {
  display: block;
}
dialog {
  padding: 2rem 4rem;
  place-items: center;
  border: none;
  box-shadow: var(--shadow-6);
  border-radius: 0.5rem;
  background: var(--surface);
  color: var(--on-surface);
  text-align: center;
  max-width: 95vw;
  max-height: 100vh;
  overflow: auto;
}
dialog header {
  margin-block: 2rem 1.5rem;
}
dialog footer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
dialog .close {
  position: absolute;
  top: 0;
  right: 0;
}
dialog .close svg {
  fill: var(--color-gray-40) !important;
}
dialog .dialog__info {
  background-color: var(--background);
  color: var(--color-gray-40);
  border-radius: var(--border-radius-sm);
  padding: 1rem;
  font-weight: 500;
  text-align: center;
}
dialog::backdrop {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
@media (max-width: 768px) {
  dialog {
    padding: 1rem;
  }
}
input {
  color: var(--text-color);
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--on-surface);
  background-color: var(--surface) !important;
}

select {
  border: 1px solid var(--color-gray-40);
  outline: none;
  width: 100%;
  background: var(--surface);
  color: var(--on-surface);
  border-radius: var(--border-radius-sm);
  padding: 0.75rem;
  /* 	-moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%; */
}

option {
  overflow-x: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
}
.empty-page__message-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 0;
}
.empty-page__message-container .actions {
  display: flex;
  justify-content: flex-end;
}

.page__container--empty {
  height: 100%;
}
.list__item .list__item__header {
  display: grid;
  grid-template-columns: 70% 1fr;
  padding: 0;
  align-items: center;
}
.list__item .list__item__header header {
  gap: 1rem;
  text-overflow: ellipsis ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex-grow: 0;
  min-height: 45px;
  display: flex;
  align-items: center;
}
.list__item .list__item__header header h4 {
  display: flex;
  gap: 0.5rem;
}
.list__item .list__item__header header:hover svg {
  fill: var(--link-hover-color);
}
.list__item .list__item__header header,
.list__item .list__item__header header h4 {
  width: 100%;
  flex-grow: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: "...";
}
.list__item .list__item__header .actions {
  justify-content: end;
  align-items: end;
  display: flex;
}
.list__item .list__item__header .actions .pragmate-element-spinner {
  justify-self: end;
  align-self: end;
  margin: 0;
}
.list__item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--surface);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-4);
  padding: 1rem;
  padding-bottom: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  transition: all 0.3s ease;
}
.list__item:hover {
  background: var(--surface-accent);
}
.list__item .class-actions {
  margin-left: auto;
}
.list__item .item__actions {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
  justify-content: end;
}
.page__header {
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
}
.page__header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background: var(--background);
  border-radius: 0 0 50% 50%;
  box-shadow: 0px 6px 8px -2px rgba(0, 0, 0, 0.4);
}
.is-fetching {
  opacity: 0.5;
  transition: all ease-in-out 0.3s;
}
* {
  font-family: var(--font-family);
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.is-authorized {
  color: var(--success-container);
}

.flex-container {
  display: flex;
}
.flex-container.space-between {
  justify-content: space-between;
}
.flex-container.flex-column {
  flex-direction: column;
}

.mb-30 {
  margin-bottom: 2rem;
}
@media (max-width: 1920px) {
  h1 {
    font-size: 26px;
  }
}
@media (max-width: 1370px) {
  h1 {
    font-size: 25px;
  }
}

@media (max-width: 1920px) {
  h2 {
    font-size: 22px;
  }
}

@media (max-width: 1920px) {
  h3 {
    font-size: 22px;
  }
}
@media (max-width: 1370px) {
  h3 {
    font-size: 18px;
  }
}

@media (max-width: 1920px) {
  h4 {
    font-size: 20px;
  }
}

@media (max-width: 1920px) {
  a {
    font-size: 16px;
  }
}
@media (max-width: 1370px) {
  a {
    font-size: 14px;
  }
}

@media (max-width: 1920px) {
  p {
    font-size: 16px;
  }
}
@media (max-width: 1370px) {
  p {
    font-size: 14px;
  }
}

@media (max-width: 1920px) {
  input {
    font-size: 16px;
  }
}
@media (max-width: 1370px) {
  input {
    font-size: 14px;
  }
}

@media (max-width: 1920px) {
  textarea {
    font-size: 16px;
  }
}
@media (max-width: 1370px) {
  textarea {
    font-size: 14px;
  }
}

@media (max-width: 1920px) {
  select {
    font-size: 16px;
  }
}
@media (max-width: 1370px) {
  select {
    font-size: 14px;
  }
}

@media (max-width: 1920px) {
  option {
    font-size: 16px;
  }
}
@media (max-width: 1370px) {
  option {
    font-size: 14px;
  }
}

@media (max-width: 1920px) {
  button {
    font-size: 16px;
  }
}
@media (max-width: 1370px) {
  button {
    font-size: 14px;
  }
}

@media (max-width: 1920px) {
  label {
    font-size: 16px;
  }
}
@media (max-width: 1370px) {
  label {
    font-size: 14px;
  }
}

@media (max-width: 1920px) {
  caption {
    font-size: 16px;
  }
}
@media (max-width: 1370px) {
  caption {
    font-size: 14px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
label,
caption,
textarea,
input,
select,
option {
  font-family: "Rubik", sans-serif;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1 {
  line-height: 31px;
}

h2 {
  line-height: 26px;
}

h3 {
  line-height: 24px;
}

h4 {
  line-height: 18px;
}

button {
  line-height: 19px;
}

p,
input,
textarea,
select {
  line-height: 22px;
}

label {
  line-height: 14px;
}

.title-xl {
  font-size: 30px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  line-height: 32px;
}

.overline {
  font-size: 12px;
  color: var(--color-gray-40);
  line-height: 17px;
}

code {
  font-family: "Source Code Pro", monospace;
}