:root {
  --primary: #164194;
  --primary-100: #ffffff;
  --primary-99: #fefbff;
  --primary-98: #faf8ff;
  --primary-95: #eff0ff;
  --primary-90: #dbe1ff;
  --primary-80: #b5c4ff;
  --primary-70: #8ea7ff;
  --primary-60: #648aff;
  --primary-50: #306bff;
  --primary-40: #0051e0;
  --primary-35: #0046c6;
  --primary-30: #003cac;
  --primary-25: #003293;
  --primary-20: #00297b;
  --primary-10: #00164d;
  --primary-0: #000000;
  --secondary: #38a2f9;
  --secondary-100: #ffffff;
  --secondary-99: #fdfcff;
  --secondary-98: #f8f9ff;
  --secondary-95: #e9f1ff;
  --secondary-90: #d0e4ff;
  --secondary-80: #9ccaff;
  --secondary-70: #5db0ff;
  --secondary-60: #2396ec;
  --secondary-50: #007bc8;
  --secondary-40: #0062a0;
  --secondary-35: #00568d;
  --secondary-30: #00497a;
  --secondary-25: #003e68;
  --secondary-20: #003256;
  --secondary-10: #001d35;
  --secondary-0: #000000;
  --tertiary: #11395d;
  --tertiary-100: #ffffff;
  --tertiary-99: #fdfcff;
  --tertiary-98: #f8f9ff;
  --tertiary-95: #e9f1ff;
  --tertiary-90: #d1e4ff;
  --tertiary-80: #9ecaff;
  --tertiary-70: #6eaff6;
  --tertiary-60: #5195da;
  --tertiary-50: #327abe;
  --tertiary-40: #0061a3;
  --tertiary-35: #005590;
  --tertiary-30: #00497d;
  --tertiary-25: #003d6a;
  --tertiary-20: #003258;
  --tertiary-10: #001d36;
  --tertiary-0: #000000;
  --error: #ff5449;
  --error-100: #ffffff;
  --error-99: #fffbff;
  --error-98: #fff8f7;
  --error-95: #ffedea;
  --error-90: #ffdad6;
  --error-80: #ffb4ab;
  --error-70: #ff897d;
  --error-60: #ff5449;
  --error-50: #db3a33;
  --error-40: #b81f1e;
  --error-35: #a60f13;
  --error-30: #93000a;
  --error-25: #7e0007;
  --error-20: #690005;
  --error-15: #540003;
  --error-10: #410002;
  --error-5: #2d0001;
  --error-0: #000000;
  --success: #006d43;
  --success-100: #ffffff;
  --success-99: #f5fff5;
  --success-98: #e9ffed;
  --success-95: #c0ffd6;
  --success-90: #92f7bc;
  --success-80: #76daa2;
  --success-70: #5abe88;
  --success-60: #3ca36f;
  --success-50: #188857;
  --success-40: #006d43;
  --success-35: #005f3a;
  --success-30: #005231;
  --success-25: #004529;
  --success-20: #003920;
  --success-15: #002d19;
  --success-10: #002111;
  --success-5: #001509;
  --success-0: #000000;
  --info: #4285f4;
  --info-0: #000000;
  --info-10: #000d11;
  --info-20: #001a22;
  --info-30: #002633;
  --info-40: #004d66;
  --info-50: #0080aa;
  --info-60: #009acc;
  --info-70: #00d6ff;
  --info-80: #00f5ff;
  --info-90: #c3e8ff;
  --info-95: #e3f3ff;
  --info-98: #f5faff;
  --info-100: #ffffff;
  --warning: #ff8800;
  --warning-0: #000000;
  --warning-10: #150b00;
  --warning-20: #2b1700;
  --warning-30: #402200;
  --warning-40: #804400;
  --warning-50: #d47200;
  --warning-60: #ff8800;
  --warning-70: #ffbe00;
  --warning-80: #ffda00;
  --warning-90: #fff500;
  --warning-95: #ffff00;
  --warning-98: rgb(255, 255, 0);
  --warning-100: #ffffff;
}
.elevation-1 {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.elevation-2 {
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.elevation-3 {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.elevation-4 {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.elevation-5 {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.elevation-6 {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}
/**
Same as light variables to avoid dark theme while design does not provide it.
*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap");
@font-face {
  font-family: "OpenDyslexic";
  src: url("/assets/fonts/OpenDyslexic-Regular.woff2") format("woff2"), url("/assets/fonts/OpenDyslexic-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenDyslexic";
  src: url("/assets/fonts/OpenDyslexic-Bold.woff2") format("woff2"), url("/assets/fonts/OpenDyslexic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "OpenDyslexic";
  src: url("/assets/fonts/OpenDyslexic-Italic.woff2") format("woff2"), url("/assets/fonts/OpenDyslexic-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "OpenDyslexic";
  src: url("/assets/fonts/OpenDyslexic-Bold-Italic.woff2") format("woff2"), url("/assets/fonts/OpenDyslexic-Bold-Italic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}
.pui-popover-tour .driver-popover-navigation-btns {
  display: grid;
  gap: 1px;
  grid-template-columns: 1fr 1fr;
}
.pui-popover-tour .driver-popover-prev-btn,
.pui-popover-tour .driver-popover-next-btn {
  background: var(--primary);
  color: var(--on-primary);
  text-shadow: none;
  text-align: center;
  border-radius: var(--border-radius-base);
  padding: 0.5rem 1rem;
  font-family: var(--font-family);
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
}
.pui-popover-tour .driver-popover-prev-btn:hover,
.pui-popover-tour .driver-popover-next-btn:hover {
  background: var(--primary-dark);
}
.pui-popover-tour .driver-popover-prev-btn {
  background: var(--transparent);
  border: 1px solid var(--primary);
  color: var(--primary);
}

:root {
  --primary: #164194;
  --primary-100: #ffffff;
  --primary-99: #fefbff;
  --primary-98: #faf8ff;
  --primary-95: #eff0ff;
  --primary-90: #dbe1ff;
  --primary-80: #b5c4ff;
  --primary-70: #8ea7ff;
  --primary-60: #648aff;
  --primary-50: #306bff;
  --primary-40: #0051e0;
  --primary-35: #0046c6;
  --primary-30: #003cac;
  --primary-25: #003293;
  --primary-20: #00297b;
  --primary-10: #00164d;
  --primary-0: #000000;
  --secondary: #38a2f9;
  --secondary-100: #ffffff;
  --secondary-99: #fdfcff;
  --secondary-98: #f8f9ff;
  --secondary-95: #e9f1ff;
  --secondary-90: #d0e4ff;
  --secondary-80: #9ccaff;
  --secondary-70: #5db0ff;
  --secondary-60: #2396ec;
  --secondary-50: #007bc8;
  --secondary-40: #0062a0;
  --secondary-35: #00568d;
  --secondary-30: #00497a;
  --secondary-25: #003e68;
  --secondary-20: #003256;
  --secondary-10: #001d35;
  --secondary-0: #000000;
  --tertiary: #11395d;
  --tertiary-100: #ffffff;
  --tertiary-99: #fdfcff;
  --tertiary-98: #f8f9ff;
  --tertiary-95: #e9f1ff;
  --tertiary-90: #d1e4ff;
  --tertiary-80: #9ecaff;
  --tertiary-70: #6eaff6;
  --tertiary-60: #5195da;
  --tertiary-50: #327abe;
  --tertiary-40: #0061a3;
  --tertiary-35: #005590;
  --tertiary-30: #00497d;
  --tertiary-25: #003d6a;
  --tertiary-20: #003258;
  --tertiary-10: #001d36;
  --tertiary-0: #000000;
  --error: #ff5449;
  --error-100: #ffffff;
  --error-99: #fffbff;
  --error-98: #fff8f7;
  --error-95: #ffedea;
  --error-90: #ffdad6;
  --error-80: #ffb4ab;
  --error-70: #ff897d;
  --error-60: #ff5449;
  --error-50: #db3a33;
  --error-40: #b81f1e;
  --error-35: #a60f13;
  --error-30: #93000a;
  --error-25: #7e0007;
  --error-20: #690005;
  --error-15: #540003;
  --error-10: #410002;
  --error-5: #2d0001;
  --error-0: #000000;
  --success: #006d43;
  --success-100: #ffffff;
  --success-99: #f5fff5;
  --success-98: #e9ffed;
  --success-95: #c0ffd6;
  --success-90: #92f7bc;
  --success-80: #76daa2;
  --success-70: #5abe88;
  --success-60: #3ca36f;
  --success-50: #188857;
  --success-40: #006d43;
  --success-35: #005f3a;
  --success-30: #005231;
  --success-25: #004529;
  --success-20: #003920;
  --success-15: #002d19;
  --success-10: #002111;
  --success-5: #001509;
  --success-0: #000000;
  --info: #4285f4;
  --info-0: #000000;
  --info-10: #000d11;
  --info-20: #001a22;
  --info-30: #002633;
  --info-40: #004d66;
  --info-50: #0080aa;
  --info-60: #009acc;
  --info-70: #00d6ff;
  --info-80: #00f5ff;
  --info-90: #c3e8ff;
  --info-95: #e3f3ff;
  --info-98: #f5faff;
  --info-100: #ffffff;
  --warning: #ff8800;
  --warning-0: #000000;
  --warning-10: #150b00;
  --warning-20: #2b1700;
  --warning-30: #402200;
  --warning-40: #804400;
  --warning-50: #d47200;
  --warning-60: #ff8800;
  --warning-70: #ffbe00;
  --warning-80: #ffda00;
  --warning-90: #fff500;
  --warning-95: #ffff00;
  --warning-98: rgb(255, 255, 0);
  --warning-100: #ffffff;
}

:root {
  color-scheme: only light;
  --secondary-font-family: "Rubik", sans-serif;
  --font-family: "Rubik", sans-serif;
  --border-radius-sm: 10px;
  --border-radius-base: 16px;
  --border-radius-lg: 25px;
  --navbar-height: 79px;
  --content-theory: #644a78;
  --debate: #d0493a;
  --conversation: rgb(240, 145, 36);
  --character-talk: #cf8836;
  --spoken: #9aae3b;
  --multiple-choice: #009468ff;
  --box-shadow-default: 0px 0px 15px rgba(0, 0, 0, 0.1);
  --box-shadow-hover: 0px 0px 15px rgba(0, 0, 0, 0.2);
  --font-size-p2: 0.875rem;
  --font-size-p1: 1rem;
  --text-muted: var(--neutral-50);
  --separator: var(--neutral-variant-95);
  /* neutral */
  --neutral-0: #000;
  --neutral-4: #0f0d13;
  --neutral-6: #141218;
  --neutral-10: #1c1b1f;
  --neutral-12: #2b2930;
  --neutral-17: #2b2930;
  --neutral-20: #1c1b1f;
  --neutral-22: #36343b;
  --neutral-24: #3b383e;
  --neutral-25: #393c3a;
  --neutral-30: #444846;
  --neutral-35: #505351;
  --neutral-40: #5c5f5d;
  --neutral-50: #747875;
  --neutral-60: #8e918f;
  --neutral-70: #a9aca9;
  --neutral-80: #c4c7c4;
  --neutral-87: #ded8e1;
  --neutral-90: #e1e3e0;
  --neutral-94: #f3edf7;
  --neutral-92: #ece6f0;
  --neutral-94: #f3edf7;
  --neutral-95: #eff1ee;
  --neutral-96: #f7f2fa;
  --neutral-98: #fef7ff;
  --neutral-99: #fbfdfa;
  --neutral-100: #ffffff;
  /* --neutral-variant */
  --neutral-variant: #000000;
  --neutral-variant-10: #141d1a;
  --neutral-variant-20: #29322f;
  --neutral-variant-25: #343d3a;
  --neutral-variant-30: #3f4945;
  --neutral-variant-35: #4b5550;
  --neutral-variant-40: #57605c;
  --neutral-variant-50: #6f7975;
  --neutral-variant-60: #89938e;
  --neutral-variant-70: #a3ada8;
  --neutral-variant-80: #bfc9c3;
  --neutral-variant-90: #dbe5df;
  --neutral-variant-95: #e9f3ed;
  --neutral-variant-98: #f2fcf6;
  --neutral-variant-99: #f5fff9;
  --neutral-variant-100: #ffffff;
  --info-container: var(--info-80);
  --warning-container: var(--warning-80);
  --success-container: #E0FDD6;
  --info-container: var(--info-50);
  --info-color: var(--text-color);
  --info-border-color: var(--info-50)
  --info-hover-bg: var(--info-40);
  --info-icon-color: var(--text-color);
  --warning-container: #FFF2CC;
  --warning-color: var(--text-color);
  --warning-border-color: var(--warning-50)
  --warning-hover-bg: var(--warning-40);
  --warning-icon-color: var(--text-color);
  --success-color: var(--text-color);
  --success-border-color: var(--success-50)
  --success-hover-bg: var(--success-40);
  --success-icon-color: var(--text-color);
  --error-container: var(--error-80);
  --error-color: var(--error-90);
  --error-border-color: var(--error-50);
  --error-hover-bg: var(--error-40);
  --error-icon-color: var(--error-90);
  --app-text-highlight: var(--primary);
  --pui-success-icon-color: red;
  --text-color: #1a1a1a;
  --secondary-text-color: var(--neutral-50);
  --primary-container: var(--primary-90);
  --on-primary: var(--primary-100);
  --on-primary-container: var(--primary-10);
  --inverse-primary: var(--primary-80);
  --secondary-container: var(--secondary-90);
  --on-secondary: var(--secondary-100);
  --on-secondary-container: var(--secondary-10);
  --tertiary: var(--tertiary-40);
  --tertiary-container: var(--tertiary-90);
  --on-tertiary: var(--tertiary-100);
  --on-tertiary-container: var(--tertiary-10);
  --surface: var(--neutral-100);
  --surface-dim: var(--neutral-94);
  --surface-bright: var(--neutral-90);
  --surface-container-lowest: var(--neutral-100);
  --surface-container-low: var(--neutral-90);
  --surface-container: var(--neutral-94);
  --surface-container-high: var(--neutral-92);
  --surface-container-highest: var(--neutral-90);
  --surface-overlay: rgba(255, 255, 255, 1);
  --surface-variant: var(--secondary-95);
  --on-surface: var(--neutral-10);
  --on-surface-variant: var(--neutral-variant-30);
  --inverse-surface: var(--neutral-20);
  --inverse-on-surface: var(--neutral-95);
  --background: #fff;
  --on-background: var(--neutral-10);
  --error: var(--error-40);
  --error-container: var(--error-90);
  --on-error: var(--error-100);
  --on-error-container: var(--error-10);
  --outline: var(--neutral-variant-70);
  --outline-variant: var(--neutral-variant-80);
  --shadow: var(--neutral-0);
  --surface-tint-color: var(--primary);
  --scrim: var(--neutral-0);
  --app-text-highlight: rgba(172, 18, 18, 0.8);
  --primary-dark-container: var(--primary-30);
  --primary-light-container: var(--primary-60);
  --secondary-dark-container: var(--secondary-50);
  --secondary-light-container: var(--secondary-80);
  --disabled-text: var(--neutral-70);
  --background-preload: var(--primary-80);
  --background-neutral: #f3f3f3;
  --app-main-outline: #000;
  --primary-light: #5174c9;
  --primary-light-rbg: 81, 116, 201;
  --primary-dark: #001847;
  --on-primary-container: #ffffff;
  --secondary-light: #8dd2f5;
  --secondary-light-rgb: 141, 210, 245;
  --secondary-dark: #07bbf5;
  --secondary-container: #3ba2f9;
  --on-secondary-container: #ffffff;
  --disable-n-90: #e2e2e2;
  --disable-n-60: #919191;
  --surface-s-98: #ffffff;
  --default-primary: #164194;
  --on-default-primary: #ffffff;
  --surface-variant-s-95: #e4f3ff;
  --tertiary-light: #c3e3f6;
  --tertiary-dark: #93bacd;
  --tertiary-container: #c3e3f6;
  --on-tertiary-container: #141414;
  --background: #ffffff;
  --text-color: #141414;
  --border-dark-color: #000;
}
:root[data-beyond-mode=light] {
  --text-color: #1a1a1a;
  --secondary-text-color: var(--neutral-50);
  --primary-container: var(--primary-90);
  --on-primary: var(--primary-100);
  --on-primary-container: var(--primary-10);
  --inverse-primary: var(--primary-80);
  --secondary-container: var(--secondary-90);
  --on-secondary: var(--secondary-100);
  --on-secondary-container: var(--secondary-10);
  --tertiary: var(--tertiary-40);
  --tertiary-container: var(--tertiary-90);
  --on-tertiary: var(--tertiary-100);
  --on-tertiary-container: var(--tertiary-10);
  --surface: var(--neutral-100);
  --surface-dim: var(--neutral-94);
  --surface-bright: var(--neutral-90);
  --surface-container-lowest: var(--neutral-100);
  --surface-container-low: var(--neutral-90);
  --surface-container: var(--neutral-94);
  --surface-container-high: var(--neutral-92);
  --surface-container-highest: var(--neutral-90);
  --surface-overlay: rgba(255, 255, 255, 1);
  --surface-variant: var(--secondary-95);
  --on-surface: var(--neutral-10);
  --on-surface-variant: var(--neutral-variant-30);
  --inverse-surface: var(--neutral-20);
  --inverse-on-surface: var(--neutral-95);
  --background: #fff;
  --on-background: var(--neutral-10);
  --error: var(--error-40);
  --error-container: var(--error-90);
  --on-error: var(--error-100);
  --on-error-container: var(--error-10);
  --outline: var(--neutral-variant-70);
  --outline-variant: var(--neutral-variant-80);
  --shadow: var(--neutral-0);
  --surface-tint-color: var(--primary);
  --scrim: var(--neutral-0);
  --app-text-highlight: rgba(172, 18, 18, 0.8);
  --primary-dark-container: var(--primary-30);
  --primary-light-container: var(--primary-60);
  --secondary-dark-container: var(--secondary-50);
  --secondary-light-container: var(--secondary-80);
  --disabled-text: var(--neutral-70);
  --background-preload: var(--primary-80);
  --background-neutral: #f3f3f3;
  --app-main-outline: #000;
  --primary-light: #5174c9;
  --primary-light-rbg: 81, 116, 201;
  --primary-dark: #001847;
  --on-primary-container: #ffffff;
  --secondary-light: #8dd2f5;
  --secondary-light-rgb: 141, 210, 245;
  --secondary-dark: #07bbf5;
  --secondary-container: #3ba2f9;
  --on-secondary-container: #ffffff;
  --disable-n-90: #e2e2e2;
  --disable-n-60: #919191;
  --surface-s-98: #ffffff;
  --default-primary: #164194;
  --on-default-primary: #ffffff;
  --surface-variant-s-95: #e4f3ff;
  --tertiary-light: #c3e3f6;
  --tertiary-dark: #93bacd;
  --tertiary-container: #c3e3f6;
  --on-tertiary-container: #141414;
  --background: #ffffff;
  --text-color: #141414;
  --border-dark-color: #000;
}
:root[data-beyond-mode=dark] {
  --text-color: #1a1a1a;
  --primary-container: var(--primary-90);
  --on-primary: var(--primary-100);
  --on-primary-container: var(--primary-10);
  --inverse-primary: var(--primary-80);
  --secondary-container: var(--secondary-90);
  --on-secondary: var(--secondary-100);
  --on-secondary-container: var(--secondary-10);
  --pepito: "box";
  --tertiary: var(--tertiary-40);
  --tertiary-container: var(--tertiary-90);
  --on-tertiary: var(--tertiary-100);
  --on-tertiary-container: var(--tertiary-10);
  --surface: var(--neutral-100);
  --surface-dim: var(--neutral-94);
  --surface-bright: var(--neutral-90);
  --surface-container-lowest: var(--neutral-100);
  --surface-container-low: var(--neutral-90);
  --surface-container: var(--neutral-94);
  --surface-container-high: var(--neutral-92);
  --surface-container-highest: var(--neutral-90);
  --surface-overlay: rgba(255, 255, 255, 1);
  --surface-variant: var(--secondary-95);
  --on-surface: var(--neutral-10);
  --on-surface-variant: var(--neutral-variant-30);
  --inverse-surface: var(--neutral-20);
  --inverse-on-surface: var(--neutral-95);
  --background: #fff;
  --on-background: var(--neutral-10);
  --error: var(--error-40);
  --error-container: var(--error-90);
  --on-error: var(--error-100);
  --on-error-container: var(--error-10);
  --outline: var(--neutral-variant-70);
  --outline-variant: var(--neutral-variant-80);
  --shadow: var(--neutral-0);
  --surface-tint-color: var(--primary);
  --scrim: var(--neutral-0);
  --app-text-highlight: rgba(172, 18, 18, 0.8);
  --primary-dark-container: var(--primary-30);
  --primary-light-container: var(--primary-60);
  --secondary-dark-container: var(--secondary-50);
  --secondary-light-container: var(--secondary-80);
  --disabled-text: var(--neutral-70);
  --background-neutral: #f3f3f3;
  --app-main-outline: #000;
  --primary-light: #e8f0f9;
  --primary-dark: #00164f;
  --container-primary: #14519a;
  --on-container-primary: #ffffff;
  --secondary-light: #e8f0f5;
  --secondary-dark: #007db5;
  --container-secondary: #3ba2f9;
  --on-container-secondary: #ffffff;
  --disable-n-90: #e3e2e2;
  --disable-n-60: #919191;
  --surface-s-98: #ffffff;
  --default-primary: #14519a;
  --on-default-primary: #ffffff;
  --surface-variant-s-95: #e4f3ff;
  --tertiary-light: #e5f1f5;
  --tertiary-dark: #003e5c;
  --container-tertiary: #3c8e9f;
  --on-container-tertiary: #ffffff;
  --background: #ffffff;
  --text-color: #141414;
  --border-dark-color: #000;
}
:root[data-accessibility-mode=dyslexia] {
  --font-family: "OpenDyslexic";
}
@media (max-width: 768px) {
  :root {
    --navbar-height: 60px;
  }
}

html,
body {
  min-height: 100%;
  padding: 0;
  height: 100%;
  line-height: 1.37;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: var(--font-family);
}
html *,
html *::before,
html *::after,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

html {
  background: var(--background);
}

::view-transition-old(root) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out, 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in, 300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}
.tippy-box[data-animation=fade][data-state=hidden] {
  opacity: 0;
}

[data-tippy-root] {
  max-width: calc(100vw - 10px);
}

.tippy-box {
  position: relative;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  white-space: normal;
  outline: 0;
  transition-property: transform, visibility, opacity;
}

.tippy-box[data-placement^=top] > .tippy-arrow {
  bottom: 0;
}

.tippy-box[data-placement^=top] > .tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  transform-origin: center top;
}

.tippy-box[data-placement^=bottom] > .tippy-arrow {
  top: 0;
}

.tippy-box[data-placement^=bottom] > .tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  transform-origin: center bottom;
}

.tippy-box[data-placement^=left] > .tippy-arrow {
  right: 0;
}

.tippy-box[data-placement^=left] > .tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: initial;
  right: -7px;
  transform-origin: center left;
}

.tippy-box[data-placement^=right] > .tippy-arrow {
  left: 0;
}

.tippy-box[data-placement^=right] > .tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: initial;
  transform-origin: center right;
}

.tippy-box[data-inertia][data-state=visible] {
  transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}

.tippy-arrow {
  width: 16px;
  height: 16px;
  color: #333;
}

.tippy-arrow:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid;
}

.tippy-content {
  position: relative;
  padding: 5px 9px;
  z-index: 1;
}
.pui-button-group {
  background: var(--neutral-95);
  border: 1px solid var--neutral-95;
}
.pui-button-group .pui-button.btn-default {
  background: var(--neutral-95);
  border-radius: var(--border-radius-base);
  color: var(--disabled);
  font-size: 0.85rem;
}
.pui-button-group .pui-button.btn-default:hover {
  color: var(--disabled);
  background: var(--neutral-90);
}
.pui-button-group .pui-button.btn-default.pui-btn--active, .pui-button-group .pui-button.btn-default:active, .pui-button-group .pui-button.btn-default:focus {
  background: var(--primary);
  color: var(--on-primary);
}
@media (max-width: 1000px) {
  .pui-button-group .pui-button-group .pui-button.btn-default {
    font-size: 0.75rem;
  }
}

:host-context(html[data-beyond-mode=dark]) .pui-button-group {
  background: var(--neutral-10);
}
:host-context(html[data-beyond-mode=dark]) .pui-button-group .pui-button.btn-default {
  background: var(--neutral-10);
}
:host-context(html[data-beyond-mode=dark]) .pui-button-group .pui-button.btn-default.pui-btn--active, :host-context(html[data-beyond-mode=dark]) .pui-button-group .pui-button.btn-default:active, :host-context(html[data-beyond-mode=dark]) .pui-button-group .pui-button.btn-default:focus {
  background: var(--primary);
  color: var(--on-primary);
}
:host-context(html[data-beyond-mode=dark]) .pui-button-group .pui-button.btn-default:hover {
  color: var(--disabled);
  background: var(--neutral-4);
}
.pui-button {
  text-transform: uppercase !important;
  font-size: 0.75rem !important;
}
.pui-button .button-label {
  font-size: 0.75rem !important;
}
.pui-button.btn-link {
  color: var(--text-color) !important;
}

.pui-button {
  border-radius: 4rem;
}
.pui-button.outline:hover {
  background: transparent !important;
  box-shadow: var(--box-shadow-default);
}
.pui-button.outline:hover.btn-primary {
  color: var(--primary) !important;
  background: var(--primary-container) !important;
}
.pui-button.outline:hover.btn-secondary {
  color: var(--secondary) !important;
}
/*!
  Theme: Gruvbox dark, hard
  Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/
.hljs {
  color: #d5c4a1;
  background: #1d2021;
}

.hljs ::selection,
.hljs::selection {
  background-color: #504945;
  color: #d5c4a1;
}

.hljs-comment {
  color: #665c54;
}

.hljs-tag {
  color: #bdae93;
}

.hljs-operator,
.hljs-punctuation,
.hljs-subst {
  color: #d5c4a1;
}

.hljs-operator {
  opacity: 0.7;
}

.hljs-bullet,
.hljs-deletion,
.hljs-name,
.hljs-selector-tag,
.hljs-template-variable,
.hljs-variable {
  color: #fb4934;
}

.hljs-attr,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-symbol,
.hljs-variable.constant_ {
  color: #fe8019;
}

.hljs-class .hljs-title,
.hljs-title,
.hljs-title.class_ {
  color: #fabd2f;
}

.hljs-strong {
  font-weight: 700;
  color: #fabd2f;
}

.hljs-addition,
.hljs-code,
.hljs-string,
.hljs-title.class_.inherited__ {
  color: #b8bb26;
}

.hljs-built_in,
.hljs-doctag,
.hljs-keyword.hljs-atrule,
.hljs-quote,
.hljs-regexp {
  color: #8ec07c;
}

.hljs-attribute,
.hljs-function .hljs-title,
.hljs-section,
.hljs-title.function_,
.ruby .hljs-property {
  color: #83a598;
}

.diff .hljs-meta,
.hljs-keyword,
.hljs-template-tag,
.hljs-type {
  color: #d3869b;
}

.hljs-emphasis {
  color: #d3869b;
  font-style: italic;
}

.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
  color: #d65d0e;
}

.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
  font-weight: 700;
}

pre {
  padding: 0.5rem;
  white-space: break-spaces;
  max-width: 100%;
  background-color: var(--background);
  border-radius: var(--border-radius-base);
}

pre code.hljs {
  display: block;
}
.grid-container {
  display: grid !important;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}
.grid-container.g-2-columns {
  grid-template-columns: 1fr;
}
@media (min-width: 600px) {
  .grid-container.g-2-columns {
    grid-template-columns: 1fr 1fr;
  }
}
input {
  color: var(--text-color);
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--on-surface);
  background-color: var(--surface) !important;
}

select {
  border: 1px solid var(--color-gray-40);
  outline: none;
  width: 100%;
  background: var(--surface);
  color: var(--on-surface);
  border-radius: var(--border-radius-sm);
  padding: 0.75rem;
  /* 	-moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%; */
}

option {
  overflow-x: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
}
@media (max-width: 600px) {
  .pui-modal .modal-content {
    width: 90% !important;
  }
}
@media (max-width: 1024px) {
  .pui-modal .modal-content {
    max-width: 85%;
  }
}
@media (max-width: 400px) {
  .pui-modal .modal-content {
    max-width: 90%;
  }
}
.pui-modal .modal-content .pui-actions,
.pui-modal .modal-content .actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
@media (max-width: 600px) {
  .pui-modal .modal-content .pui-actions,
  .pui-modal .modal-content .actions {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pui-modal .modal-content .pui-actions .pui-button,
  .pui-modal .modal-content .actions .pui-button {
    width: 80%;
  }
}

.pui-modal.pui-confirm-dialog .pui-actions {
  display: flex !important;
  justify-content: center !important;
  flex-direction: row;
}
.pui-modal.pui-confirm-dialog .pui-actions .pui-button {
  width: auto !important;
}
:host-context(html[data-beyond-mode=dark]) {
  --option-success-bg: var(--success-40);
  --option-error-bg: var(--error-40);
}

:host-context(html) {
  --option-success-bg: var(--success-70);
  --option-error-bg: var(--error-70);
}

:host-context(html[data-beyond-mode=light]) {
  --option-success-bg: var(--success-60);
  --option-error-bg: var(--error-40);
}

.question__container--results .option-item {
  padding: 1rem;
  border-radius: var(--border-radius-base);
  margin: 0.5rem 0;
  border: 1px solid var(--outline);
}
.question__container--results .option-item.option--selected, .question__container--results .option-item.option--correct {
  background: var(--option-success-bg);
  color: var(--on-primary);
  border: var(--option-success-bg);
}
.question__container--results .option-item.option--wrong {
  background: var(--option-error-bg);
  color: var(--on-primary);
  border: var(--option-error-bg);
}
.is-fetching {
  opacity: 0.5;
  transition: all ease-in-out 0.3s;
}
:root {
  font-family: var(--font-family);
  box-sizing: border-box;
  line-height: 1.6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.is-authorized {
  color: var(--success-container);
}

.mb-30 {
  margin-bottom: 2rem;
}

.m-1 {
  margin: 1rem 0;
}

.bg-primary-container {
  background-color: var(--primary-container);
}

.bg-primary-light-container {
  background-color: var(--primary-light-container);
}

.bg-primary-dark-container {
  background-color: var(--primary-dark-container);
}

.bg-secondary-container {
  background-color: var(--secondary-container);
}

.bg-secondary-dark-container {
  background-color: var(--secondary-dark-container);
}

.bg-secondary-light-container {
  background-color: var(--secondary-light-container);
}

.bg-background {
  background-color: var(--background);
}

.bg-surface {
  background-color: var(--surface);
}

.bg-surface-variant {
  background-color: var(--surface-variant);
}
h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.35rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

.p2 {
  font-size: 0.875rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

@media (max-width: 1024px) {
  body h2 {
    font-size: 1.25rem;
  }
  body h4 {
    font-size: 1.15rem;
  }
}
@media (max-width: 768px) {
  body h1 {
    font-size: 1.25rem;
  }
  body h2 {
    font-size: 1.2rem;
  }
  body h3 {
    font-size: 1.15rem;
  }
  body h4 {
    font-size: 1.1rem;
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/* Grouping content
	 ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
	 ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}
/***
this style must be a unique bundle 
**/
.reader__container {
  position: fixed;
  transition: all 300ms ease-in;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 300;
  background: #fff;
  margin: auto;
}
.reader__container p,
.reader__container ul,
.reader__container li,
.reader__container a,
.reader__container span,
.reader__container div,
.reader__container button,
.reader__container input,
.reader__container label,
.reader__container select,
.reader__container option,
.reader__container form,
.reader__container fieldset,
.reader__container legend,
.reader__container table,
.reader__container tbody,
.reader__container tfoot,
.reader__container thead,
.reader__container tr,
.reader__container th,
.reader__container td {
  font-size: 1.4rem !important;
  line-height: 2.5rem;
}
.reader__container .intro__panes ul li {
  padding: 1rem;
}
.reader__container .collapsible-header,
.reader__container .chat__content {
  letter-spacing: 0.15rem;
  line-height: 2.5rem;
  margin: auto;
  max-width: 800px;
}
.primary-text {
  color: var(--primary);
}

.primary-bg {
  background-color: var(--primary-container);
}

.secondary-text {
  color: var(--secondary);
}

.secondary-bg {
  background-color: var(--secondary-container);
}

.tertiary-text {
  color: var(--tertiary);
}

.tertiary-bg {
  background-color: var(--tertiary-container);
}
.flex-container {
  display: flex;
}
.flex-container.flex-100 {
  width: 100%;
}
.flex-container.flex-space-between {
  justify-content: space-between;
}
.flex-container.flex-column {
  flex-direction: column;
}
.flex-container.flex-center {
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.flex-container.flex-vertical-center {
  align-items: center;
}
.flex-container.flex-end {
  justify-content: flex-end;
}
.flex-container.flex-1 {
  gap: 1rem;
}
.flex-container.flex-05 {
  gap: 0.5rem;
}
.flex-container .flex-grow-1 {
  flex-grow: 1;
}
.mt-15 {
  margin-top: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.mx-15 {
  margin-left: 15px;
  margin-right: 15px;
}

.my-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.m15 {
  margin: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.m20 {
  margin: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mr-25 {
  margin-right: 25px;
}

.mb-25 {
  margin-bottom: 25px;
}

.ml-25 {
  margin-left: 25px;
}

.mx-25 {
  margin-left: 25px;
  margin-right: 25px;
}

.my-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.m25 {
  margin: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.mx-30 {
  margin-left: 30px;
  margin-right: 30px;
}

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.m30 {
  margin: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mr-35 {
  margin-right: 35px;
}

.mb-35 {
  margin-bottom: 35px;
}

.ml-35 {
  margin-left: 35px;
}

.mx-35 {
  margin-left: 35px;
  margin-right: 35px;
}

.my-35 {
  margin-top: 35px;
  margin-bottom: 35px;
}

.m35 {
  margin: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mr-40 {
  margin-right: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-40 {
  margin-left: 40px;
}

.mx-40 {
  margin-left: 40px;
  margin-right: 40px;
}

.my-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.m40 {
  margin: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mr-45 {
  margin-right: 45px;
}

.mb-45 {
  margin-bottom: 45px;
}

.ml-45 {
  margin-left: 45px;
}

.mx-45 {
  margin-left: 45px;
  margin-right: 45px;
}

.my-45 {
  margin-top: 45px;
  margin-bottom: 45px;
}

.m45 {
  margin: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mr-50 {
  margin-right: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.ml-50 {
  margin-left: 50px;
}

.mx-50 {
  margin-left: 50px;
  margin-right: 50px;
}

.my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.m50 {
  margin: 50px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mx-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.m10 {
  margin: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pl-15 {
  padding-left: 15px;
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.p15 {
  padding: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.p20 {
  padding: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pr-25 {
  padding-right: 25px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pl-25 {
  padding-left: 25px;
}

.px-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.py-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.p25 {
  padding: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pr-30 {
  padding-right: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pl-30 {
  padding-left: 30px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.p30 {
  padding: 30px;
}

.pt-35 {
  padding-top: 35px;
}

.pr-35 {
  padding-right: 35px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pl-35 {
  padding-left: 35px;
}

.px-35 {
  padding-left: 35px;
  padding-right: 35px;
}

.py-35 {
  padding-top: 35px;
  padding-bottom: 35px;
}

.p35 {
  padding: 35px;
}

.pt-40 {
  padding-top: 40px;
}

.pr-40 {
  padding-right: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pl-40 {
  padding-left: 40px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.p40 {
  padding: 40px;
}

.pt-45 {
  padding-top: 45px;
}

.pr-45 {
  padding-right: 45px;
}

.pb-45 {
  padding-bottom: 45px;
}

.pl-45 {
  padding-left: 45px;
}

.px-45 {
  padding-left: 45px;
  padding-right: 45px;
}

.py-45 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.p45 {
  padding: 45px;
}

.pt-50 {
  padding-top: 50px;
}

.pr-50 {
  padding-right: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pl-50 {
  padding-left: 50px;
}

.px-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.p50 {
  padding: 50px;
}

.pt-10 {
  padding-top: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.p10 {
  padding: 10px;
}
.disabled-text {
  color: var(--disabled-text);
}
.list__item .list__item__header {
  display: grid;
  grid-template-columns: 70% 1fr;
  padding: 0;
  align-items: center;
}
.list__item .list__item__header .actions {
  justify-content: end;
  align-items: end;
  display: flex;
}
.list__item .list__item__header .actions .pragmate-element-spinner {
  justify-self: end;
  align-self: end;
  margin: 0;
}
.list__item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--surface);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-4);
  padding: 1rem;
  padding-bottom: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  transition: all 0.3s ease;
}
.list__item:hover {
  background: var(--surface-container-lowest);
}
.list__item .class-actions {
  margin-left: auto;
}
.list__item .list__item__header {
  display: grid;
  grid-template-columns: 70% 1fr;
  padding: 0;
  align-items: center;
}
.list__item .list__item__header header > a {
  display: grid-inline;
  transition: 300ms ease-in all;
  grid-gap: 1rem;
}
.list__item .list__item__header header h4 {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.5rem;
}
.list__item .list__item__header header h4 svg {
  height: 24px;
  transition: 300ms ease-in all;
}
.list__item .list__item__header header:hover svg {
  fill: var(--primary);
}
.list__item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--surface);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-4);
  padding: 1rem;
  padding-bottom: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  transition: all 0.3s ease;
}
.list__item:hover {
  background: var(--surface-accent);
}
.list__item .class-actions {
  margin-left: auto;
}
.list__item .item__actions {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
  justify-content: end;
}